.site-header {
  background: @primary_color;
  max-width: none;
  padding: 35px 14px 25px 0px;
}
.site-description {
  margin: 7px 75px;
}
.site-branding {
  max-width: 100%;
}
.site-header-wrapper {
  max-width: 40em;
}
.site-title {
  font-size: 3em;
  a {
    color: #fff;
    background: url('logo-web.png') 0 2px no-repeat;
    background-size: 64px 58px;
    padding-left: 75px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .site-title a {
      background: url('logo-web@2x.png') 0 2px no-repeat;
      background-size: 64px 58px;
    }
}
.toggles {
  margin: -15px 0 0;
}
.panel .search-wrapper input[type=search] {
  font-size: 1.2em;
}
